/* Write some CSS below */
body	{
	font-family: Overpass;
	font-size: 18px;
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
}

h1, h2{
	font-family: Chivo;
	text-align: center;
}

a, p {
	text-decoration: none;
}

.banner{
	text-align: center;
	background-image: url(images/Thai.jpg); 
	background-size: cover;
	background-position: center;
	color: white;
	padding: 120px 0px;
}

.btn-yellow{
	background-color: #cc6e23;
	padding: 15px 45px;
	border-radius: 4px;
	margin: 15px;
	color: white;
	font-size: 16px;
}

.container{
	width: 900px;
	margin: auto;
	margin-bottom: 24px;
	color: rgb(50, 50, 50);
}

.card-white {
	background-color: white;
	width: 220px;
	text-align: center;
	margin: 8px;
	border-radius: 4px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
	color: rgba(95, 158, 160, 1); 
	margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    padding-top: 24px; 
}

.card-white img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 4px;
}

.footer{
	background-color: rgba(95, 158, 160, 1);
	margin-bottom: 0px;
	padding: 24px;
	text-align: center;
	color: white;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	grid-gap: 16px;
}

.container2 {
	color: rgb(50, 50, 50);
	width: 400px;
	height: 280px;
	margin-right: auto;
	margin-left: auto;
}

.fa-linkedin {
	background: #348892;
	color: white;
	margin-top: 24px;
}

.butt{
	background-color: #348892;
	padding: 10px 15px;
	border-radius: 4px;
	margin: 15px;
	color: white;
}	
